body {
    background: black;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
.textTitle {
    text-align: center;
    font-size: 48px;
    color: #00FF09;
    margin-bottom: 40px;
}
.espaco {
    padding: 60px;
}

.textGreen {
    color: #00FF09;
}
.shadow-green { filter: drop-shadow(0 0 10px #00FF09); }
.shadow-white { filter: drop-shadow(0 0 10px #ffffff); }
.shadow-red { filter: drop-shadow(0 0 10px #ff0000); }
.shadow-blue { filter: drop-shadow(0 0 10px #0011ff); }
.shadow-orange { filter: drop-shadow(0 0 10px #ffc000); }
