@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;  
    z-index: 1;
    text-align: justify;
}

body {
    background: black;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

.back{
    background-color: #262626;
    z-index: 2;
    padding-bottom: 30px;
}

.header {
    width: 100%;
    z-index: 10;
    padding: 20px 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 120px;
    z-index: 3;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li {
    color: #00FF09;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
    z-index: 1;
}

.menu a {
    color: #00FF09;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
    z-index: 1;
   text-decoration: none;
}

.menu a:hover {
    background-color: #1B8800;
    color: white;
}

.agora {
    background-color: #1B8800;
    color: white;
}
.video-background video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.video-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Escurecimento */
    z-index: 1;
}


.mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 40px;
    z-index: 1;
}

.slogan {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.slogan span {
    color: #00FF09;
}

.proteger {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #073B00;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;
    
}

.proteger a{
    text-decoration: none;
}

.proteger:hover {
    background-color: #1B8800;
    cursor: pointer;
}
.text-btn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
}



.explicacao {
    max-width: 1200px;
    margin: 30px;
    font-size: 25px;
    line-height: 1.8;
    text-align: left;
    z-index: 1;
    position: relative;
    text-shadow: black ;
}

.explicacao p {
    margin-bottom: 20px;
}

.explicacao span {
    font-weight: bold;
    color: #00FF09;
    
}

.subtitle {
    color: #00FF09;
    font-weight: bold;
}

.text {
    margin: 20px;
}
.textGreen {
    color: #00FF09;

}
.textDarkGreen {
    color: #1B8800;

}

.secao-seguranca {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}

.icones {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.icoEx {
    margin-top: 30px;
    width: 140px;
    height: auto;
}

.icoEx2 {
    margin-top: 50px;
    width: 100px;
    height: auto;
}

.icoEx3 {
    margin-top: 65px;
    width: 100px;
    height: auto;
}
.icoEx4 {
    margin-top: 55px;
    width: 110px;
    height: auto;
    margin-left: 20;
}
.icoEx5 {
    margin-top: 55px;
    width: 110px;
    height: auto;
    margin-left: 20;
}
.icoEx6 {
    margin-top: 55px;
    width: 110px;
    height: auto;
    margin-left: 20;
}


.textos-seguranca {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    background-color: #0f0f0f;
    padding: 30px 0 0 0 ;
    text-align: center;
    border-top: 2px solid #00FF09;
    position: relative;
    z-index: 1;
    width: 100vw; 
    height: 150px;
}

.footer-container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    height: 80px;
     cursor: pointer;
}

.footer p {
    color: #ccc;
    font-size: 16px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 10px;
}

.footer-links li a {
    color: #00FF09;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}


